body{
  margin: 0;
  padding: 0;
  width: 100%;
  background: #ededff;
}
/*----------mosianbotton-------------*/
 input[id="menuicon"]
 {
   display: none;
 }
 input[id="menuicon"] +label{
   display: flex;
   width: 100px;
   height: 80px;
   position: fixed;
   cursor: pointer;
   top: 50%;
   border-radius: 15px;
   box-shadow: 5px 5px 15px black;
 }

 input[id="menuicon"] +label span{
   display:flex;
   position: absolute;
   width: 90%;
   height: 10px;
   border-radius: 30px;
   background: #000;
   transition: all .35s;
 }
 input[id="menuicon"] +label span:nth-child(1){
   top: 0;
 }
 input[id="menuicon"] +label span:nth-child(2){
   top: 50%;
   transform: translateY(-50%);
 }
 input[id="menuicon"] +label span:nth-child(3){
   bottom: 0;
 }
 input[id="menuicon"]:checked + label span:nth-child(1){
   top: 50%;
   transform: translateY(-50%) rotate(45deg);
 }
 input[id="menuicon"]:checked + label span:nth-child(2){
   opacity: 0;
 }
 input[id="menuicon"]:checked + label span:nth-child(3){
   bottom: 50%;
   transform: translateY(50%) rotate(-45deg);
 }
 input[id="menuicon"]:checked +label{
   z-index: 2;
   left: 500px;
 }
 /*-------sidebar size--------*/

img[id="titleimg"]
{
  width: 100%;
  left: 20px;
  right: 20px;
  top: auto;
  background: #d5d9ff;
  box-shadow: 0 20px 10px #e1e4ff;
}

div[class="sidebar"]
{
  width: 500px;
  height: 100%;
  background: #222;
  position: fixed;
  top: 0;
  left: -500px;
  z-index: 1;
  transition: all .35s;
}

/*----------manu------------*/
.sidemanu
{
  background: #fff;
  font-size: 50px;
  width: 100%;
}
.stwo
{
  background: #191919;
  font-size: 20px;
}
.smd
{
  background: #979797;
  font-size: 20px;
}

input[id="menuicon"]:checked + label + div {left: 0;}
 /*poto*/
 .suitimg
  {
    text-align: center;
    width: 100%

  }
  .su{
    width: 100%;
  }
  .ca{
    width: 100%;
  }
  .st{
    width: 100;
  }
/*--------------------*/
