body{
  margin: 0;
  padding: 0;
}
.manu{
  width: auto;
  list-style-type: none;
  display: block;
  width: 100%;
  font-size: 36px;
  position: fixed;
  bottom: 0;
  margin: auto;
}
.one{
  background-color: #5e5e5e;
}

.two{
  background-color: #3a3a3a;
}

.tre{
  background-color: #5e5e5e;
}

.fro{
  background-color: #3a3a3a;
}

.manu li{
  float: right;
}

.manu a{
  padding: 10px 30px;
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  transition: transform 0.1s, font-size 0.3s;
  font-size: 20px;
}
.manu a:hover:not(.active) {
    background-color: #909090;
    width: auto;
    transform: translate(0px, -5px);
    font-size: 2rem;
  }
 .suitimg
  {
    text-align: center;
    width: 100%;
  }
  .su{
    width: 100%;
  }
  .ca{
    width: 100%;
  }
  .st{
    width: 100%;
  }
