body{
  margin: 0;
  padding: 0;
  width: 100%;
}
/*----------mosianbotton-------------*/
 input[id="menuicon"]
 {
   display: none;
 }
 input[id="menuicon"] +label{
   display: flex;
   width: 100px;
   height: 80px;
   position: fixed;
   cursor: pointer;
   top: 50%;
   border-radius: 15px;
 }

 input[id="menuicon"] +label span{
   display: flex;
   position: absolute;
   width: 90%;
   height: 10px;
   border-radius: 30px;
   background: #000;
   transition: all .35s;
 }
 input[id="menuicon"] +label span:nth-child(1){
   top: 0;
   left: -45px;
 }
 input[id="menuicon"] +label span:nth-child(2){
   top: 50%;
   transform: translateY(-50%);
   left: -45px;
 }
 input[id="menuicon"] +label span:nth-child(3){
   bottom: 0;
   left: -45px;
 }
 input[id="menuicon"]:checked + label span:nth-child(1){
   top: 50%;
   transform: translateY(-50%) rotate(45deg);
 }
 input[id="menuicon"]:checked + label span:nth-child(2){
   opacity: 0;
 }
 input[id="menuicon"]:checked + label span:nth-child(3){
   bottom: 50%;
   transform: translateY(50%) rotate(-45deg);
 }
 input[id="menuicon"]:checked +label{
   z-index: 2;
   left: 650px;
 }
 /*-------sidebar size--------*/

img[id="titleimg"]
{
  width: 100%;
  left: 20px;
  right: 20px;
  top: auto;
  box-shadow: 0 20px 10px #ccc;
}

div[class="sidebar"]
{
  width: 650px;
  height: 100%;
  background: #ededed;
  position: fixed;
  top: 0;
  left: -650px;
  z-index: 1;
  transition: all .35s;
}

/*----------manu------------*/
.sidemanu
{
  background: #fff;
  font-size: 50px;
  width: 85%;
  height: 90%;
  left: 1%;
  right: -1%;
  margin: 0 auto;
  padding: 0 auto;
  display: block;
  align-items: stretch;
}
/*---man---*/
.mane{
  text-align: center;
  margin: 0 auto;
  padding: 0 auto;
  margin-top: 10%;
  display: table;
  vertical-align: middle;
  font-size: 100px;
  /*box-shadow: 0 -10px 80px #000;*/
}
.mans
{
  font-size: 25px;
  color: #fff;
  display: block;
  text-align: center;
}
.subt{
  width: 90% auto;
}
.cabt{
  width: 90% auto;
}
.stbt{
  width: 90% auto;
}
.mobt{
  width: 90% auto;
}
/*---woman---*/
.womane{
  text-align: center;
  margin: 0 auto;
  padding: 0 auto;
  font-size: 80px;
}
.womans
{
  font-size: 25px;
  color: #fff;
  display: block;
  text-align: center;
}

/*-------sidetext------*/
.sidetext{
  background: #ccc;
  text-align: center;
  font-size: 20px;
  display: block;
  width: 85%;
  align-items: stretch;
  left: 1%;
  right: -1%;
  margin: 0 auto;
  padding: 0 auto;
}
input[id="menuicon"]:checked + label + div {left: 0;}
 /*poto*/
 .suitimg
  {
    text-align: center;
    width: 100%

  }
  .su{
    width: 100%;
  }
  .ca{
    width: 100%;
  }
  .st{
    width: 100%;
  }
/*--------------------*/
